
.fc .fc-timegrid-slot{
  height: 3rem;
  }

.fc .fc-toolbar.fc-header-toolbar {
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 0;
}



.fc-scroller-harness,
.fc-scroller,
.fc-time-grid-container {
  scrollbar-width: thin !important;
  scrollbar-color: #ccc #f1f1f1 !important;
}

.fc-scroller-harness::-webkit-scrollbar,
.fc-scroller::-webkit-scrollbar,
.fc-time-grid-container::-webkit-scrollbar {
  width: 8px !important;
  background-color: #f1f1f1 !important;
}

.fc-scroller-harness::-webkit-scrollbar-thumb,
.fc-scroller::-webkit-scrollbar-thumb,
.fc-time-grid-container::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
}
